<div class="categorieslist">
<p class="asidetitle">广告</p>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog侧 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-6334086715606061"
     data-ad-slot="1986102848"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>