<div class="widget tag">
  <h3 class="title"><%= __('about_me') %></h3>
  <ul class="entry">
    <li>lephones</li>
    <li>帝都安卓码农</li>
    <li>QQ:2323354557</li>
    <li>欢迎朋友们<a href="http://www.lephones.net/about">吐槽我</a></li>
  </ul>
</div>