<div class="widget tag">
	<h3 class="title"><%= __('links') %></h3>
	<ul class="entry">
	<li><a href="http://www.lephones.net/about" title="关于我">关于我</a></li>
	<li><a href="http://www.lephones.info" title="myeclipse注册码">myeclipse注册码</a></li>
	</ul>
</div>